body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background: linear-gradient(to bottom, rgb(35, 215, 176) 30%, rgb(1, 201, 1));
  height: 100vh;
}

h1 {
  text-align: center;
  font-size: 80px;
}

h2{
  text-align: center;
  font-size: 30px;
}

form {
  display: flex;
  margin-top: 10px;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  padding: 5px;
  font-size: 14px;
}

button {
  padding: 5px 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  display: flex;
  flex-direction: row;
  background-color: #f4f4f4;
}

tr {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

